body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.code-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.ticket {
    opacity: 0;
    height: 100%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}