  html {
    box-sizing: border-box;
    background: #ffc600;
    font-family: "helvetica neue";
    font-size: 20px;
    font-weight: 200;
  }
  body {
    margin: 0;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .panels {
    min-height: 100vh;
    overflow: hidden;
    display:flex;
  }
  
  .panel {
    background: #ffffff;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
      flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .panel1 {
    background-image: url(https://images.unsplash.com/photo-1685268586501-ae3c3ca67efe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=927&q=80);
  }
  .panel2 {
    background-image: url(https://images.unsplash.com/photo-1685350854473-3f7822f1633a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1287&q=80);
  }
  .panel3 {
    background-image: url(https://images.unsplash.com/photo-1685288532492-932a4e567279?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1287&q=80);
  }
  .panel4 {
    background-image: url(https://images.unsplash.com/photo-1685287919409-7a785eb69ba2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80);
  }
  .panel5 {
    background-image: url(https://plus.unsplash.com/premium_photo-1666433732058-0faaf5341a0f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80);
  }
  
  .panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
  }
  
  .panel p {
    text-transform: uppercase;
    font-size: 2em;
  }
  .panel p:nth-child(2) {
    font-size: 4em;
  }
  
  .panel.open {
    font-size: 40px;
    flex: 2;
  }
  
  .panel > *:first-child { transform: translateY(-50vh); }
  .panel.open-active > *:first-child { transform: translateY(0); }
  .panel > *:last-child { transform: translateY(50vh); }
  .panel.open-active > *:last-child { transform: translateY(0); }